// Global
$background-color-primary: #0a0a0a;
$background-color-playlist: #20173caa;
$background-color-playlist-items: #20173c;
$body-padding-vertical: 24px;
$text-color: #fafafa;
$text-family: 'Poppins', sans-serif;
$site-container-width: 500px;
$site-container-height: calc(100vh - $body-padding-vertical - $body-padding-vertical);

// Header
$header-height: 200px;
$header-progress-height: 20px;

// Footer
$controller-height: 100px;
$toolbar-height: 20px;
$footer-height: calc($controller-height + $toolbar-height);

// Main
$site-container-padding: 20px;
$main-height: calc(100% - $header-height - $footer-height);