// Global
$background-color-primary: #0a0a0a;
$background-color-darker: #20173c;
$text-color: #fafafa;
$text-family: 'Poppins', sans-serif;
$site-container-width: 500px;

// Header
$header-height: 200px;
$header-progress-height: 20px;
