/* You can add global styles to this file, and also import other style files */
@use './styles/reset' as *;
@use './styles/variables' as *;

body {
    background-color: $background-color-primary;
    color: $text-color;
    display: flex;
    font-family: $text-family;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    overflow: hidden;
    padding: $body-padding-vertical 0;
    width: 100vw;
}

.site-container {
    background-color: $background-color-playlist;
    border-radius: 10px;
    height: $site-container-height;
    max-width: $site-container-width;
    padding: $site-container-padding;
    width: 100%;
}

span {
    &.material-symbols-rounded {
        vertical-align: bottom;
    }
}